<div class="container" *ngIf="loading">
    <app-loading-spinner></app-loading-spinner>
</div>
<div class="container" *ngIf="singleBlog">
    <h1>{{ singleBlog.postTitle }}</h1>
    <a routerLink="/all_blogs">Go Back</a>
    <p>{{singleBlog.userName}}</p>
    <p>{{singleBlog.date}}</p>
    <img 
    src={{singleBlog.postImg}} 
    alt={{singleBlog.postTitle}}
    >
    <p>{{singleBlog.postSection1}}</p>
    <img 
    src={{singleBlog.postImg2}} 
    alt={{singleBlog.postTitle}}
    >
    <p>{{singleBlog.postSection2}}</p>
    <img 
    src={{singleBlog.postImg3}} 
    alt={{singleBlog.postTitle}}
    >
    <p>{{singleBlog.postSection3}}</p>

</div>