<div class="form-container">
    <h3 class="form-containerTitle">Login</h3>
    <form class="form" [formGroup]="loggingForm" (submit)="onSubmit()">
        <div class="formGroup">
            <label class="formGroupLabel" for="email">Email :</label>
            <input class="formGroupInput" type="text" name="email" id="email" placeholder="Enter Your Email..." formControlName="email" />
        </div>

        <div class="formGroup">
            <label class="formGroupLabel" for="password">Password :</label>
            <input class="formGroupInput" type="password" name="password" id="password"
                placeholder="Enter Your Password..."  formControlName="password"/>
        </div>
        <div class="buttonGroup">
            <button type="submit" class="buttonGroupBtn">Login</button>
            <p class="buttonGroupText">Register here -> <a class="buttonGroupLink" routerLink="/register">Register</a></p>
        </div>
    </form>
</div>